* {
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;

}

body {
  background: white;
}

#List_of_contant {}

#List_of_contant h1 {
  text-align: center;
  display: block;
  position: fixed;
  top: 0px;
  color: black;
  background: #86FDE8;
  opacity: 0.7;
  font-size: 30px;
  padding: 10px 155px;
  box-shadow: 0px 0px 50px black;
}

#List_of_contant a {
  background: linear-gradient(to left, black, #86FDE8);
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
  width: 200px;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 20px 50px;
  border-radius: 10px;
  text-decoration: none;
  transition: 2s;
}

#List_of_contant a:hover {
  color: #DC143C;
  border: 1px green solid;
}

footer p {
  text-align: center;
  padding: 10px;
  background: #86FDE8;
}

footer a {
  color: black;
}